.chat-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    border-radius: 5px;
  
    header {
      text-align: center;
      margin-bottom: 20px;
  
      h1 {
        margin: 0;
        font-size: 24px;
        color: #333;
      }
    }
  
    .all-messages {
      margin-bottom: 20px;
    }
  
    .message {
      display: flex;
      margin-bottom: 20px;
    }
  
    .message-body {
      margin-left: 10px;
      width: calc(100% - 50px);
    }
  
    .user-info {
      font-weight: bold;
    }
  
    .user-info .time {
      color: #a19c9c;
      font-size: 13px;
    }
  
    .message-body p {
      margin-top: 5px;
      color: #6e6e6e;
      font-size: 14px;
    }
  
    .send-message {
      display: flex;
  
      input {
        flex: 1;
        padding: 10px;
        border-radius: 5px 0 0 5px;
        border: 1px solid #ccc;
      }
  
      button {
        padding: 10px 20px;
        background-color: #3f51b5;
        color: #fff;
        border: none;
        border-radius: 0 5px 5px 0;
        cursor: pointer;
        transition: background-color 0.3s ease;
  
        &:hover {
          background-color: #2f3f9f;
        }
      }
    }
  }
  