.header {
  padding: 1%;

  &__container {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    background-color: #f0f0f0;
    width: 100%;
    padding: 15px;

    &__user {
      display: flex;
      align-items: center;

      img {
        width: 28px;
      }
    }
  
    &__name {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 0.8vh;
      padding: 5px;

      &__user {
        h4 {
          font-weight: bolder;
        }
      }

      &__singout {
        padding: 3%;

        a {
          color: blue;
          cursor: pointer;
          text-decoration: none;
          
          img {
            text-align: end;
          }
        }  
      }


    }
  }
}

@media (max-width: 1024px) {
  .header {
    padding: 2%;

    &__container {
      display: flex;
      justify-content: center;
    }
  }
}